@import "../../scss_partials/params-g";
@import "../../scss_partials/mixins";

.test-component {
// |---PARAMS-LOC---|
$text-color: $global-inter-orange;

// |---STYLES---|
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $global-platinum;

    &__text {
        font-size: 30px;
    }

    &__pic {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
}
