@import "../../scss_partials/params-g";
@import "../../scss_partials/mixins";

.app {
// |---PARAMS-LOC---|
$text-color: $global-inter-orange;

// |---STYLES---|


    &__title {
        font-size: 40px;
        color: $text-color;
    }

    &__form {
        border: 2px pink solid;
        padding: 10px;
    }

    &__form-control {

    }

    &__form-button {

    }
}
